.idea/inspectionProfiles/Project_Default.xml filter=lfs diff=lfs merge=lfs -text
.idea/misc.xml filter=lfs diff=lfs merge=lfs -text
CMakeFiles/* filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
src/* filter=lfs diff=lfs merge=lfs -text
